{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react-native-nearby-api": "."
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
